# X-Plane plugin directory
# Example: D:\Softwares\Steam\steamapps\common\X-Plane 12\Resources\plugins
XPLANE_PLUGIN_DIR=<your-xplane-plugin-dir>

# libclang path
# Example: D:\Softwares\VisualStudio\BuildTools\VC\Tools\Llvm\x64\bin
LIBCLANG_PATH=<your-libclang-path>
